body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0; 
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1 0 auto;
  width: 100%;
}

.content-wrap:after {
  content: '\00a0';
  display: block;
  height: 0;
  visibility: hidden;
}

.title-section {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  margin: 0px;
  padding: 20px;
}

.user-section {
  display: inline;
  float: right;
  padding-top: 100px;
}

.login-link {
  margin-right: 20px;
  border-color: #6ECB63;
  border-style: solid;
  border-width: 3px;
  padding: 17px;
  border-radius: 20px;
}

.signup-link {
  margin-right: 20px;
  background-color: #6ECB63;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.content {
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.footer {
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 20px;
  margin-top: 60px;
  background-color: #6ECB63;
  color: #1B1919;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 15px;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer-row {
    padding-left: 40px;
    padding-right: 40px;
  }
}

h1, h2, h3, ul, li, form, #submitBtn {
  font-family: 'Montserrat', sans-serif;
}

/* h1/tagline
h1 {
  color: #FFBD35;
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  float: right;
  padding-left: 3px;
}
*/

a {
  color: #34BC28;
  font-weight: bold;
  text-decoration: none;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #6ECB63;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

ul.header li a {
  color: #1B1919;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.active {
  background-color: #B1E693;
}

.farm-section {
  display: grid;
  margin: 0px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-bottom: 40px;
}

.farm {
  margin: 0 auto;
  padding: 30px;
  place-self: center;
  text-align: center;
}

.farm-img {
  width: 350px;
  height: 200px;
  border-radius: 40px;
}

.form-box label {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin: 0 0 2vh 0;
}

.form-box input {
  display: inline-block;
  width: 70%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0;
  border-radius: 5px;
  font-size: 16px;
}

#submitBtn {
  display: inline-block;
  height: 2.5rem;
  background-color: #6ECB63;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 16px;
  color: #1B1919;
  font-weight: bold;
  border-radius: 7px;
}

#submitBtn:hover {
  background-color: #B1E693;
}
